/* Header */
.header {
    display: flex;
    justify-content: space-between; /* left name, right menu */
    align-items: center;
    padding: 15px 40px;
    background-color: black;
}

/* Name */
.logo {
    color: white;
}

/* Navigation */
.nav {
    list-style: none;
    display: flex;        /* horizontal menu */
    gap: 25px;
    margin: 0;
    padding: 0;
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.nav a:hover {
    color: orange;
}

/* Footer */
.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
.img{
    display:flex;
    justify-content: flex-end;
}

.box{
    margin:10px;
    padding:10px;
    border:2px solid black;
    width: 100%;
}